---
permalink: /research/
layout: page
title: Publications
---

<ul class="publication-list">
{% for pub in site.publications reversed %}
<li class="publication">
	<div class="publication-title"> {{ pub.title }} </div>
	<div class="publication-info"> {{ pub.venue}} 
		{% if pub.forthcoming %}(Forthcoming) {% else %} ({{ pub.date | date: "%b %Y" }}) {% endif %}
		{% if pub.paperurl %} | <a href="{{ pub.paperurl }}">Link</a> {% endif %}
	</div>
	<div class="publication-abstract"> <p>{{ pub.content }}</p> </div>
</li>
{% endfor %}
</ul>

<h1>Recent talks and work in progress</h1>

<p style="font-style: italic;">Talks and drafts of work in progress are available on request</p>

<ul>
	<li>How to be a Humean about Non-Humean dispositions</li>
	<li>Adverbialism about dispositions</li>
</ul>
