// Home page
//

.home {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.home-left {
	flex-basis: 35%;
}

.home-right {
	flex-basis: 60%;
	//padding-left: var(--space);
}

.container {
  //max-width: 45rem;
  //max-width: 50rem;
} 

@media (max-width: 600px) {  //800px
	.home-left, .home-right { flex-basis: 100%; }
}


